<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559535035179-sjcqbd553ltt323j5lotke3s1k0j37cp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559535035179-sjcqbd553ltt323j5lotke3s1k0j37cp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>559535035179-gltnlo9e5beob73ltje0us2n5mhqtepl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyANLnMTnQQcnVsTfDNKG7t2--TVSv9RN1k</string>
	<key>GCM_SENDER_ID</key>
	<string>559535035179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bonVoyage</string>
	<key>PROJECT_ID</key>
	<string>bon-voyage-791df</string>
	<key>STORAGE_BUCKET</key>
	<string>bon-voyage-791df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559535035179:ios:09f3ced022a090e20b6b6e</string>
	<key>DATABASE_URL</key>
	<string>https://bon-voyage-791df-default-rtdb.firebaseio.com</string>
</dict>
</plist>